<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--首先完成移动端的预览设置问题,设备的宽度初始缩放倍数为1.0倍，这里还可以设置用户禁止缩放等等-->
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>分类管理</title>
    <!--接下来进行semanticUI的css CDN的引用-->
    <link rel="stylesheet" href="../../static/css/semantic.css" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <!--引入我们自己写的css-->
    <link rel="stylesheet" href="../../static/css/me.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <!--导航栏-->
    <nav th:replace="admin/_fragments :: menu(2)" class="ui  inverted attached segment m-padded-tb-mini m-shadow-small">

        <!--container的好处很多，其中之一使得设备正常显示-->
        <div class="ui  container">
            <!--使用一个菜单来放我们所有的导航链接-->
            <div class="ui  inverted  secondary stackable menu">

                 <h2 class="ui  teal header item">管理后台</h2>
               &nbsp;
               <a class="active item m-item m-mobile-hide"><i class="fas fa-carrot"></i>博客</a>
               <a class=" item m-item m-mobile-hide"><i class="fas fa-ice-cream"></i>分类</a>
               <a class="item m-item m-mobile-hide" ><i class="fas fa-candy-cane"></i>标签</a>

                <div class="right menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                            沉晓
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--二级导航-->
<!--    <div class="ui attached pointing menu">-->
<!--        <div class="ui container">-->
<!--            <div class="right menu">-->
<!--                <a href="#" class=" item">发布</a>-->
<!--                <a href="#" class="active item">列表</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <!--中部主体-->
    <div class="m-container-small m-padded-tb-big ">
       <div class="ui container">

           <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
               <i class="close icon"></i>
               <div class="header">提示:</div>
               <p th:text="${message}"></p>
           </div>

           <table class="ui celled teal  table">
               <thead>
                   <tr>
                       <th></th>
                       <th>名称</th>
                       <th>操作</th>
                   </tr>
               </thead>
               <tbody>
               <tr th:each="type,iterStat : ${page.content}">
                   <td th:text="${iterStat.count}">1</td>
                   <td th:text="${type.name}">刻意练习清单</td>
                   <td><a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal button">编辑</a>
                       <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" onclick="return confirm('确认删除吗？三思而后行！')" class="ui mini red button">删除</a></td>
               </tr>
               </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="6">
                                <div class="ui pagination menu" th:if="${page.totalPages} > 1">
                                    <a href="#" th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                                    <a href="#" th:href="@{/admin/types(page=${page.number}+1)}"  class="  item" th:unless="${page.last}">下一页</a>
                                </div>
                                <a href="#" th:href="@{/admin/types/input}" class="ui  right floated teal basic button item">新增</a>
                            </th>
                        </tr>
                    </tfoot>
           </table>

       </div>
    </div>


<th:block th:replace="admin/_fragments :: script">
<!--也许用到的jQuery的引用-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js}"></script>
<!--这里进行semanticUI的js 的CDN的引用 -->
<script src="../../static/js/semantic.min.js" th:src="@{https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js}"></script>
</th:block>
    <script>

            //消息提示关闭初始化
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
</body>
</html>