<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <!--首先完成移动端的预览设置问题,设备的宽度初始缩放倍数为1.0倍，这里还可以设置用户禁止缩放等等-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <!--接下来进行semanticUI的css CDN的引用-->
    <link rel="stylesheet" href="../static/css/semantic.css" th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css}">
    <!--引入我们自己写的css-->
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" th:href="@{https://use.fontawesome.com/releases/v5.7.2/css/all.css}"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <!--排版插件-->
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <!--动画效果的插件-->
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!--代码高亮-->
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <!--目录的插件-->
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">

</head>
<body>

<!--导航栏-->
<nav th:fragment="menu(n)" class="ui   attached segment m-padded-tb-mini m-shadow-small animated fadeInDown">

    <!--container的好处很多，其中之一使得设备正常显示-->
    <div class="ui container">
        <!--使用一个菜单来放我们所有的导航链接-->
        <div class="ui  secondary stackable menu">
            <a href="#" th:href="@{/}" class="item">
                <img class="ui circular image" src="https://picsum.photos/50/50?image=1025" th:src="@{/images/myPicture.jpg}" style="width: 60px">
                &nbsp;&nbsp;&nbsp;沉晓
            </a>&nbsp;
            <a class="item m-item m-mobile-hide" th:href="@{/}" th:classappend="${n==1} ? 'active'"><i class="fas fa-carrot"></i>首页</a>
            <a class="item m-item m-mobile-hide" th:href="@{/types/-1}" th:classappend="${n==2} ? 'active'"><i class="fas fa-ice-cream"></i>分类</a>
            <a class="item m-item m-mobile-hide" th:href="@{/tags/-1}" th:classappend="${n==3} ? 'active'"><i class="fas fa-candy-cane"></i>标签</a>
            <a class="item m-item m-mobile-hide" th:href="@{/archives}" th:classappend="${n==4} ? 'active'"><i class="fas fa-pizza-slice"></i>归档</a>
            <a class="item m-item m-mobile-hide" th:href="@{/webSite}" th:classappend="${n==5} ? 'active'"><i class="fas fa-cookie"></i>本站</a>
            <a class="item m-item m-mobile-hide" th:href="@{/friends}" th:classappend="${n==6} ? 'active'"><i class="fas fa-fish"></i>友链</a>
            <a class="item m-item m-mobile-hide" th:href="@{/me}"  th:classappend="${n==7} ? 'active'"><i class="fas fa-seedling"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted  input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!--这里来弄一个导航隐藏按钮-->
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>

</nav>

<th:block th:fragment="script">
<!--也许用到的jQuery的引用-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js}"></script>
<!--这里进行semanticUI的js 的CDN的引用 -->
<script src="../static/js/semantic.min.js" th:src="@{https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js}"></script>
</th:block>

</body>
</html>